.job-list ol {
    list-style: none;
    border: 3px solid green;
    max-width: 200px;
    border-radius: 10px;
}


.list-jobs {
    font-size: 1rem;
    color: grey;
    display: flex;

    flex-direction: column;

    align-items: center;
}

img {
    width: 150px
}

ol>li {
    position: relative;
    right: 13px;
}