
* {
  box-sizing: border-box;
  background-color: rgb(45,62,80);
}
.tictac{
  max-width: 600px;
  margin: 100px auto;
  border: 3px solid blacK;
  background-color: rgb(52,73,94);
}
.button-ui{
  background-color: rgb(52,73,94);
  width: 200px;
  height: 150px;
  font-size: 90px;
  color: white;
}
.allbutton-ui{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}